* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: whitesmoke;
}
p {
  /* color: lightskyblu; */
  font-size: 25px;
  color: navajowhite;
}

a {
  font-size: 30px;
  text-decoration: none !important;
  text-transform: uppercase;
}

h1 {
  font-size: 70px;
  color: rgb(3, 33, 99);
}

h3 {
  font-size: 30px;
  color: rgb(3, 33, 99);
}
.mypage {
  padding: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/rock-5266516_1920.jpg);
  height: auto;
  background-repeat: round;
}

.container {
  display: grid;
  justify-content: space-around;
  /* align-content: space-evenly; */
  grid-template-columns: repeat(6, 1fr);

  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas:
    "icon . h1 h2 h3 h4"
    "line line line line line line"
    "Headline Headline Headline Headline Headline Headline"
    "myimg1 . para1 para1 para1 para1"
    ". myimg2 para2 para2 para2 para2"
    "myimg3 . para3 para3 para3 para3"
    ". myimg4 para4 para4 para4 para4"
    ". . . . footer footer";
  /* text-justify: auto; */
}

img {
  border-radius: 60%;
}

.icon {
  grid-area: icon;
  width: 100%;
  align-content: center;
}

.item:hover {
  background-color: wheat;
  color: black;
}

.myimg {
  /* display: block; */
  width: 95%;
  height: 5px;
  border-radius: 50%;
}
.m1 {
  height: 100%;
  box-shadow: black;
  grid-area: myimg1;
  border-radius: 50%;
}

.m2 {
  height: 75%;
  grid-area: myimg2;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.a,
.b,
.c,
.d {
  position: sticky;
  text-align: center;
  font-size: xx-large;
  border: 2px solid purple;
}
.a {
  grid-area: h1;

  /* line-height: 10px; */
}

.b {
  grid-area: h2;
}

.c {
  grid-area: h3;
}
.d {
  grid-area: h4;
}

.e {
  grid-area: Headline;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
}
.f,
.g,
.h,
.i {
  font-size: 28px;
}
.f {
  grid-area: para1;
}
.g {
  grid-area: para2;
}
.h {
  grid-area: para3;
}
.i {
  grid-area: para4;
  /* color: rgb(3, 33, 99); */
  font-size: 30px;
}
.j {
  grid-area: footer;
}

@media (max-width: 400px) {
  * {
    font-size: 20px;
    color: whitesmoke;
  }

  h1 {
    font-size: 40px;
  }

  .mypage {
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/rock-5266516_1920.jpg);
    background-repeat: round;
  }

  .container {
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
      "h1"
      "h2"
      "h3"
      "h4"
      "Headline"
      "myimg1"
      "para1"
      "myimg2"
      "para2"
      "para3"
      "para4"
      "footer";
    text-justify: auto;
  }

  .item:hover {
    background-color: wheat;
    color: navy;
  }
  p,
  h1,
  h3 {
    color: navajowhite;
  }
  .a,
  .b,
  .c,
  .d {
    /* grid-area: header1; */
    grid-column: 1;
    border: 2px solid purple;
    text-align: center;
    margin: 5px;
  }
}
